engine-strict=true
package-manager-strict=true
prefer-workspace-packages=true
strict-peer-dependencies=false
save-exact=true
shared-workspace-lockfile=true
verify-store-integrity=true
auto-install-peers=true
